<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="author" content="Ovie">
	<meta name="description" content="黑客英语词汇宝典">
	<link rel="stylesheet" href="/assets/styles.css?v=0fb56bf93ab46b40ae23355e41a74b5c">
	<meta property="og:url" content="https://hacker-len.github.io/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="黑客英语词汇宝典">
	<meta property="og:description" content="网络安全从业者工作中常见的英文术语">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="程序员工作中应掌握的英文术语">
	<meta name="twitter:title" content="程序员英语词汇宝典">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
	<base target="_blank">
</head>

<body>
	<header>
		<div class="inner">
			<h1>黑客英语词汇宝典<sup>Beta</sup></h1>
			<div class="tagline">
				<ol>
					<li><span>01</span> 网络安全从业者工作中常见的英文术语</li>
					<li><span>02</span> 本站 Github <a
							href="https://github.com/hacker-len/most-frequent-technology-english-words">源代码</a>，欢迎打星⭐，提 issue</li>
				</ol>
			</div>
		</div>
	</header>
	<main id="abc">{{ content }}<audio id="voice-file" preload="none">
			<source id="audioSource" src=""></audio>
	</main>
	<div class="the-end">
		<p></p>To be Continued...
	</div>
	<footer>
		<div class="inner">Made by <a href="https://www.github.com/ovi3">Ovie</a> based on <a
				href="https://learn-english.dev/">learn-english.dev</a></div>
	</footer>
	<script src="/assets/script.js"></script>
</body>

</html>
